.device {
    width: 100%;
    padding: 16px 24px;
    margin-bottom: 16px;
    border-radius: 8px;
    background-color: #242629;
}

.device__title {
    font-size: 18px;
    color: #ff8906;
}

.device__popup {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #0f0e17;
    padding: 8px 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
  }
  
  .device__popup_open {
    display: flex;
  }


  .bet {
    width: 100%;
  }