
.card.device {
  padding-top: 4px;
  padding-bottom: 8px;
}

.device {
  margin-bottom: 16px;
}

.device__row {
  padding: 16px 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-height: fit-content

}

.device__label {
  min-height: fit-content;
  align-items: center;
}

.device__icon {
  flex-shrink: 0;
  width: 24px;
  text-align: left;
  margin-right: 10px;
  font-size: 16px;
  color: #094067;
  margin-top: 5px;
}

.device__label .device__icon{
  margin-top: 0;
}

.device__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  display: block;

  color: #094067;
}

.device__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #5F6C7B;
}

.device__link {
  font-weight: 500;
  color: #094067;
  text-decoration: none;
}

.device__image {
  width: 100%;
  height: 0;
  padding-top: 53.7%;
  position: relative;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  overflow: hidden;
}

.device__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  object-fit: cover;
}

.check__buttons {
  display: flex;
  justify-content: space-between;
  row-gap: 4px;
  padding: 0 8px;
}

.check__buttons .button {
  margin: 0 8px;
}