.input {
    display: flex;
    align-items: center;
    width: 100%;

    background: #EFEFEF;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    padding: 0 8px;

    color: #737373;
}

.input_focus {
    border-color: #3DA9FC;
}

.input_fill {
    border-color: #3DA9FC;
}

.input__value {
    color: inherit;
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 8px 0;
    font-size: inherit;
    letter-spacing: inherit;
}

.input__icon {
    height: 100%;
    width: 20px;
    margin-right: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input__placeholder_focus path{
    fill: #3DA9FC;
}

.input__placeholder_fill path{
    fill: #3DA9FC;
}