.input {
    position: relative;
    width: 100%;

    border-bottom: 1px solid #94a1b2;
    border-radius: 0;
    color: #090909;
    font-size: 18px;
    letter-spacing: normal;
    color: #fffffe;
}

.input_focus {
    border-color: #ff8906;
}

.input_fill {
    border-color: #ff8906;
}

.input__value {
    color: inherit;
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 24px 12px 8px 12px;
    font-size: inherit;
    letter-spacing: inherit;
}

.input__placeholder {
    color: inherit;
    position: absolute;
    left: 12px;
    top: 16px;
    font-size: inherit;
    line-height: 1;
    letter-spacing: inherit;
    transition: all ease 0.4s;
    color: #94a1b2;
}

.input__placeholder_focus {
    font-size: 14px;
    transform: translateY(-8px);
}

.input__placeholder_fill {
    font-size: 14px;
    transform: translateY(-8px);
}