.select {
    width: 100%;
}

.select__value {
    display: block;
    background:#EFEFEF;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    padding: 8px;
    text-decoration: none;
    text-align: left;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #737373;

    position: relative;
}

.select__value::after {
    content: '';
    box-sizing: border-box;
    width: 6px;
    height: 8px;
    position: absolute;
    right: 10px;
    top: calc(50% - 4px);
    border: 8px solid transparent;
    border-top: 8px solid #737373; 
    transform: scaleX(0.75);
}

.select__cases {
    padding: 14px 0;
    margin: 0 -6px; 
    width: calc(100% + 10px);
    min-height: 160px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.select__case {
    margin: 5px;
    padding: 8px 10px;
    background: #90B4CE;
    border-radius: 10px;
    color: #FFF;
    font-size: 14px;
    line-height: 16px;
    height: fit-content;
}

.case__dismis {
    margin-left: 8px;
}

.select__items {
    width: 100%;
    padding: 16px 0;
    margin-bottom: auto;
}

.select__item {
    width: 100%;
    background: #F7F8FA;
    border: 1px solid #FFFFFF;
    box-shadow: 4px 4px 17px rgba(0, 0, 0, 0.1), -4px -4px 17px #FFFFFF;
    border-radius: 10px;
    text-align: center;
    padding: 8px 16px;
    margin-bottom: 8px;
    color: #5F6C7B;
}

.select__item_select {
    background: #3DA9FC;
    color: #F7F8FA;
}